name: Build app and update Docker image

on:
  push:
    branches:
      - main

jobs:
  publish:
    uses: netwerk-digitaal-erfgoed/workflows/.github/workflows/deploy.yml@main
    secrets: inherit

  deploy:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Store DigitalOcean credentials
        run: doctl kubernetes cluster kubeconfig save nde

      - name: Run
        run: |
          kubectl delete job dataset-knowledge-graph-run --ignore-not-found
          kubectl create job --from=cronjob/dataset-knowledge-graph dataset-knowledge-graph-run
