name: QA

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
      - run: npm install
      - run: npm run lint
      - run: npm test
      - run: npm run compile
